
<div id="<%= EL_IDS.chatArea %>">
	<div class="col-xs-8 col-sm-8 col-sm-offset-1">
		<div class="row thin-border" id="<%= EL_IDS.messageView %>">
				
		</div>
		<div class="row" >
			<input class = "col-xs-9 col-sm-8 col-sm-offset-1"
				   type="text" id="<%= EL_IDS.inputMessage %>" value="<%= message %>"></input>
			<button class="col-xs-2" 
					id="<%= EL_IDS.sendMessage %>">enter</button>
		</div>
	</div>
	<div class="col-xs-4 col-sm-2  thin-border" id="<%= EL_IDS.userInfo %>">
		
	</div>
</div>
